<div class="from">From: <%= feed.from_name %></div>

<% unless feed.message.nil? %>
  <div class="message">Message: <%=raw feed.message.gsub("\n", "<br />") %></div>
<% end %>

<% unless feed.orig_picture.nil? %>
  <div class="picture">
    <%= link_to (image_tag feed.orig_picture, :width => feed.orig_picture_width, :height => feed.orig_picture_height), feed.link %>
  </div>
  <% unless feed.name.nil? %>
    <div class="name"><%= link_to feed.name, feed.link %></div>
  <% end %>
<% end %>


<% unless feed.caption.nil? %>
  <div class="caption">Caption: <%= feed.caption %></div>
<% end %>

<% unless feed.likes == 0 %>
  <div class="likes">Likes: <%= number_with_delimiter(feed.likes) %></div>
<% end %>

<div class="script_cyworld">
  <%= link_to image_tag("http://asimg.nate.com/img/devs/guide/scrap_btn_type2.gif"), feed_url(feed, :xml), :class => "cyworld_scrap_btn" %>
</div>
<div class="created_at">Created: <%= feed.created_at %></div>
